*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #f6f8fa;
}
.login-parent{
	width: 100%;
	float: left;
}
.login{
	width: 300px;
	height: 100px;
	margin: 50px auto 0;
}
.login-logo-yunzhongzhuan{
	width: 100px;
	height: 100px;
	float: left;
}
.login-logo-github{
	width: 100px;
	height: 100px;
	float: right;
}
.login-logo-ok{
	width: 30px;
	height: 30px;
	float: left;
	margin: 35px 35px;
}
.login-line{
	width: 160px;
	border-top: 2px dashed #d0d7de;
	position: relative;
	top: 52px;
	z-index: -1;
	left: 50px;
}
.login-title-h1{
	width: 100%;
	line-height: 2.6;
	text-align: center;
}
.login-title-h1 h1{
	font-weight: normal;
	font-size: 22px;
}
.block-height-20-px{
	width: 100%;
	height: 20px;
	float: left;
}